engine_config:
  max_model_len: 2048
  model: casperhansen/llama-3-70b-instruct-awq
  quantization: awq
extra_labels:
  model_name: casperhansen/llama-3-70b-instruct-awq
  openllm_alias: 70b-4bit,70b-instruct-4bit
project: vllm-chat
service_config:
  name: llama3
  resources:
    gpu: 1
    gpu_type: nvidia-a100-80gb
  traffic:
    timeout: 300
