project: vllm-chat
vision: false
embeddings: false
build:
  exclude:
    - "consolidated*"
service_config:
  name: llama2
  traffic:
    timeout: 300
  resources:
    gpu: 1
    gpu_type: nvidia-rtx-3060
engine_config:
  model: TheBloke/Llama-2-7B-Chat-AWQ
  max_model_len: 1024
  quantization: awq
  enforce_eager: true
alias:
  - 7b-awq
